{% extends 'base.html.twig' %}

{% block body %}

{% if selectedchild is null or selectedchild is empty  %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <h4 class="alert-heading">Enfant non selectionné</h4>
   <p>Vous devez choisir un enfant dans le menu</p>
   <ul class="list-group list-group-horizontal mx-auto" style="width: 350px;">
        {% for child in children %}
        <li class="list-group-item list-group-item-danger list-group-item-action">
          <a class="nav-link" aria-current="page" href="{{ path('app_home_child', {id: child.id}) }}">{{child}} ({{ child.points }})</a>
        </li>
        {% endfor %}
      </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<form class="d-flex" role="search">
      <input class="form-control me-2" id="task-filter" type="search" placeholder="Search" aria-label="Search"/>
</form>
<div class="clearfix">&nbsp;</div>
<ul class="list-group" id="task-list-bonus">
    <li class="list-group-item list-group-item-success"><b><i class="fa-solid fa-circle-plus"></i> Taches Bonus</b></li>
    {% for task in tasksBonus %}
    {% set item_style = 'list-group-item-success' %}
    {% set btn_style = 'btn-success' %}
    {% set disabled = false %}
    {% if  taskalreadydone[task.id] is defined and task.frequency == 0 %}
      {% set item_style = 'list-group-item-light' %}
      {% set btn_style = 'btn-light' %}
    {% endif %}
    <li class="list-group-item {{item_style}} tasks">
        <div class="container text-center">
          <div class="row">
            <div class="col text-start task-name">
              <i class="fa-solid fa-{{task.logo}}"></i>
              {{task}}
            </div>
            <div class="col text-end">
              <form action="{{ path('app_home_task') }}" method="POST">
                <input type="hidden" value="{{task.id}}" name="task" />
                <input type="hidden" name="_token" value="{{ csrf_token('task_' ~ task.id) }}">
                <button type="submit" class="btn {{ btn_style }}" data-once="true" {% if disabled %}disabled aria-disabled="true"{% endif %} aria-label="Valider la tâche {{ task.name }}">Valider</button>
              </form>
            </div>
          </div>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="clearfix">&nbsp;</div>
<ul class="list-group" id="task-list-penalty">
<li class="list-group-item list-group-item-danger">
	<b><i class="fa-solid fa-circle-minus"></i> Taches Malus</b>
</li>
    {% for task in tasksPenalties %}
    {% set disabled = (taskalreadydone[task.id] is defined and task.frequency == 0) %}
    <li class="list-group-item list-group-item-danger tasks">
        <div class="container text-center">
          <div class="row">
            <div class="col text-start task-name">
             <i class="fa-solid fa-{{task.logo}}"></i>
             {{task}}
            </div>
            <div class="col text-end">
              <form action="{{ path('app_home_task') }}" method="POST" onsubmit="return confirm('Confirmer cette pénalité ?');">
                <input type="hidden" value="{{task.id}}" name="task" />
                <input type="hidden" name="_token" value="{{ csrf_token('task_' ~ task.id) }}">
                <button type="submit" class="btn btn-danger" data-once="true" {% if disabled %}disabled aria-disabled="true"{% endif %} aria-label="Valider la tâche {{ task.name }}">Valider</button>
              </form>
            </div>
          </div>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="clearfix">&nbsp;</div>
<ul class="list-group" id="task-list-consumption">
    <li class="list-group-item list-group-item-primary"><b><i class="fa-solid fa-gift"></i> Taches de consommation</b></li>
    {% for task in tasksConsumptions %}
      {% set canConsume = selectedchild.points >= (task.points*-1) %}
      {% if canConsume %}
  <li class="list-group-item list-group-item-primary tasks">
          <div class="container text-center">
            <div class="row">
              <div class="col text-start task-name">
               <i class="fa-solid fa-{{task.logo}}"></i>
               {{task}}
              </div>
              <div class="col text-end">
                <div class="small text-end mb-1">Points restants: {{ selectedchild.points + task.points }}</div>
                <form action="{{ path('app_home_task') }}" method="POST" onsubmit="return confirm('Confirmer cette consommation ?');">
                  <input type="hidden" value="{{task.id}}" name="task" />
                  <input type="hidden" name="_token" value="{{ csrf_token('task_' ~ task.id) }}">
                  <button type="submit" class="btn btn-primary" data-once="true" aria-label="Valider la tâche {{ task.name }}">Valider</button>
                </form>
              </div>
            </div>
          </div>
      </li>
      {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endblock %}



